<h1>Welcome to your dashboard</h1>

 <li><%= link_to "Item Classes (" + @item_class_count.to_s + ")", :item_classes    %></li>
 <li><%= link_to "Item Types (" + @item_type_count.to_s + ")", :item_types    %></li>
 <li><%= link_to "Items ("  + @item_count.to_s + ")", :items    %></li>
 <li>Individual items</li>
 <li><%= link_to "Location Classes (" + @location_class_count.to_s + ")", :location_classes    %></li>
 <li><%= link_to "Location Types (" + @location_type_count.to_s + ")", :location_types    %></li>
 <li><%= link_to "Locations ("  + @location_count.to_s + ")", :locations    %></li>
 <li>Inventory</li>
 <p></p>
<b>
<p>><%= link_to "Entry Actions", nil%></p>
<p>><%= link_to "Barcode actions", :command    %></li>
</b>
<p></p>


